.channel-logo {
    width: 48px;
    height: 48px;
  }
  
  .channel-title {
    font-weight: bold;
  }
  
  .published-date {
    font-size: 0.9rem;
  }
  
  .video-title {
    font-weight: bold;
  }
  
  .video-card {
    height: 100%;
  }
  
  .video-thumbnail {
    max-height: 150px;
    object-fit: cover;
  }
  
  .channel-logo-img {
    width: 36px;
    height: 36px;
  }
  
  .video-info {
    flex-grow: 1;
  }
  
  

  .buttonWatch {
    display: flex;
    align-items: center;
    justify-content: center;
    color: #808891;
    width: 80px;
    height: 80px;
    border-radius: 100%;
    background: linear-gradient(30deg, rgb(26, 24, 21) 20%, rgb(116, 51, 39) 80%);
    transition: all 0.3s ease-in-out 0s;
    box-shadow: rgba(193, 244, 246, 0.698) 0px 0px 0px 0px;
    animation: 1.2s cubic-bezier(0.8, 0, 0, 1) 0s infinite normal none running pulse;
    align-items: center;
    border: 0;
  }
  
  .buttonWatch:is(:hover, :focus) {
    transform: scale(1.2);
  }
  
  @keyframes pulse {
    100% {
      box-shadow: 0 0 0 45px rgba(193,244,246,0);
    }
  }
  